workflow_executor.put.json
{"name": "Agent Executor v1 (Webhook → SSH → Respond + TG optional)", "nodes": [{"id": "wh1", "name": "Webhook In", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 300], "parameters": {"path": "agent-exec", "httpMethod": "POST", "responseMode": "responseNode", "options": {}}}, {"id": "code_parse", "name": "Parse Task", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300], "parameters": {"jsCode": "// Accepts JSON body with fields: task, telegram.chatId (optional) or chatId (optional)\nconst body = $json.body || $json;\nconst taskRaw = String(body.task || '').trim();\nconst lower = taskRaw.toLowerCase();\n\nconst chatId = body.chatId ?? body.telegram?.chatId ?? null;\n\nconst allowed = ['docker_status','healthz','backup_now','restart_n8n','caddy_logs','sites_list'];\n\nfunction normalizeAction(t) {\n  // formats: \"ssh: docker_status\" OR \"docker_status\" OR \"/status\" etc.\n  let x = t.trim();\n  if (x.toLowerCase().startsWith('ssh:')) x = x.slice(4).trim();\n  x = x.replace(/^\\/+/, '').split(/\\s+/)[0]; // first token\n  x = x.replace(/@.+$/, ''); // strip @bot\n  // map telegram-ish commands\n  if (x === 'status') return 'docker_status';\n  if (x === 'ping' || x === 'health') return 'healthz';\n  if (x === 'backup') return 'backup_now';\n  if (x === 'restart') return 'restart_n8n';\n  if (x === 'logs' || (x === 'caddy' && lower.includes('logs')) || lower.includes('caddy logs')) return 'caddy_logs';\n  return x;\n}\n\nconst action = normalizeAction(taskRaw);\nconst ok = allowed.includes(action);\n\nconst help =\n`Не понял команду.\n\nДоступные:\nssh: docker_status  (или /status)\nssh: healthz        (или /health, /ping)\nssh: backup_now     (или /backup)\nssh: restart_n8n    (или /restart)\nssh: caddy_logs     (или \"caddy logs\")`;\n\nreturn [{\n  json: {\n    task: taskRaw,\n    action,\n    ok,\n    chatId,\n    cmd: ok ? `sudo /usr/local/sbin/iibot ${action}` : null,\n    help\n  }\n}];"}}, {"id": "if_ok", "name": "IF Known Action", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [680, 300], "parameters": {"conditions": {"conditions": [{"leftValue": "={{$json.ok}}", "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"}}}, {"id": "ssh1", "name": "SSH Execute", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [900, 240], "credentials": {"sshPrivateKey": {"id": "ibD9UOMY08GalRvM", "name": "SSH Private Key account"}}, "parameters": {"command": "={{$json.cmd}}"}}, {"id": "code_out_ok", "name": "Build Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 240], "parameters": {"jsCode": "const stdout = String($json.stdout ?? '').trim();\nconst stderr = String($json.stderr ?? '').trim();\nconst text = (stdout || stderr || 'ok').toString().slice(0, 3800);\n\nreturn [{\n  json: {\n    ok: true,\n    action: $node['Parse Task'].json.action,\n    stdout,\n    stderr,\n    text,\n    chatId: $node['Parse Task'].json.chatId\n  }\n}];"}}, {"id": "code_out_bad", "name": "Build Help", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [900, 380], "parameters": {"jsCode": "return [{\n  json: {\n    ok: false,\n    action: $node['Parse Task'].json.action,\n    text: $node['Parse Task'].json.help,\n    chatId: $node['Parse Task'].json.chatId\n  }\n}];"}}, {"id": "if_chat", "name": "IF chatId", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1320, 300], "parameters": {"conditions": {"conditions": [{"leftValue": "={{$json.chatId}}", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}}}, {"id": "tg_send", "name": "Telegram: Send (optional)", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [1540, 240], "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}, "parameters": {"resource": "message", "operation": "sendMessage", "chatId": "={{$json.chatId}}", "text": "={{$json.text}}"}}, {"id": "resp", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1540, 380], "parameters": {"responseBody": "={{$json}}", "options": {}}}], "connections": {"Webhook In": {"main": [[{"node": "Parse Task", "type": "main", "index": 0}]]}, "Parse Task": {"main": [[{"node": "IF Known Action", "type": "main", "index": 0}]]}, "IF Known Action": {"main": [[{"node": "SSH Execute", "type": "main", "index": 0}], [{"node": "Build Help", "type": "main", "index": 0}]]}, "SSH Execute": {"main": [[{"node": "Build Output", "type": "main", "index": 0}]]}, "Build Output": {"main": [[{"node": "IF chatId", "type": "main", "index": 0}, {"node": "Respond", "type": "main", "index": 0}]]}, "Build Help": {"main": [[{"node": "IF chatId", "type": "main", "index": 0}, {"node": "Respond", "type": "main", "index": 0}]]}, "IF chatId": {"main": [[{"node": "Telegram: Send (optional)", "type": "main", "index": 0}], []]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}