workflow_executor.put.json
{"name": "II-BOT Executor v1 (Telegram → SSH)", "nodes": [{"parameters": {"updates": ["message"], "additionalFields": {}}, "id": "6e4c4a96-8e8d-484e-be12-2b37154cc757", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1, "position": [-720, 192], "webhookId": "6f5b0eca-ed14-425f-9c23-1b6341a704fd", "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}}, {"parameters": {"jsCode": "const textRaw = String($json.message?.text || '').trim();\nconst lower = textRaw.toLowerCase();\n\nconst fromId = $json.message?.from?.id;\nconst chatId = $json.message?.chat?.id;\n\n// Admin allowlist (your Telegram IDs)\nconst allowed = [535520922, 951230951];\n\n// Нормализация: берём первое \"слово\", убираем @botname и ведущий /\nconst firstToken = lower.split(/\\s+/)[0] || '';\nconst cmd = firstToken.replace(/^\\/+/, '').split('@')[0]; // status, ping, backup, restart, confirm\n\nfunction pickAction(cmd, fullText) {\n  // confirm flow: \"/confirm RESTART_N8N\" (и без слеша тоже)\n  if (cmd === 'confirm' || fullText.startsWith('/confirm') || fullText.startsWith('confirm')) {\n    if (fullText.toUpperCase().includes('RESTART_N8N')) return { action: 'restart_n8n', dangerous: true, confirmed: true };\n    return { action: 'unknown', dangerous: false, confirmed: false };\n  }\n\n  // status\n  if (cmd === 'status' || fullText.includes('статус')) return { action: 'docker_status', dangerous: false, confirmed: false };\n\n  // health/ping\n  if (cmd === 'ping' || cmd === 'health' || fullText.includes('пинг') || fullText.includes('health')) {\n    return { action: 'healthz', dangerous: false, confirmed: false };\n  }\n\n  // backup\n  if (cmd === 'backup' || fullText.includes('бэкап') || fullText.includes('backup')) {\n    return { action: 'backup_now', dangerous: false, confirmed: false };\n  }\n\n  // restart\n  if (cmd === 'restart' || fullText.includes('рестарт') || fullText.includes('перезапусти')) {\n    return { action: 'restart_n8n', dangerous: true, confirmed: false };\n  }\n\n  // caddy logs\n  if (fullText.includes('caddy') && (fullText.includes('лог') || fullText.includes('logs'))) {\n    return { action: 'caddy_logs', dangerous: false, confirmed: false };\n  }\n\n  return { action: 'unknown', dangerous: false, confirmed: false };\n}\n\nconst picked = pickAction(cmd, lower);\n\nreturn [{\n  json: {\n    chatId,\n    fromId,\n    isAllowed: allowed.includes(fromId),\n    text: textRaw,\n    cmd,\n    action: picked.action,\n    dangerous: picked.dangerous,\n    confirmed: picked.confirmed,\n  }\n}];"}, "id": "7efc56ce-af34-4591-8546-27bd50c1365d", "name": "Parse Command", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 192]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "8dd5aec2-1e8c-4ebf-96dd-44a6264500dd", "leftValue": "={{$json.isAllowed}}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a0ac02d3-2de2-4b37-b6b6-9825cef09915", "name": "IF Allowed", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-240, 192]}, {"parameters": {"chatId": "={{$json.chatId}}", "text": "⛔️ Нет доступа.\\n\\nЭтот бот принимает команды только от админов.", "additionalFields": {}}, "id": "aeee5ffc-20bb-45de-98bb-c2b09bb79f5b", "name": "Telegram: Deny", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 0], "webhookId": "0f202736-7eb3-4e20-8c1b-f64075f15ae1", "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "5236f536-0094-4ff0-8104-af385c4be58d", "leftValue": "={{$json.action}}", "rightValue": "unknown", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "id": "0aacceca-636a-4c4f-85bc-592e0cf34f46", "name": "IF Unknown", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [0, 192]}, {"parameters": {"chatId": "={{$json.chatId}}", "text": "Не понял команду.\\n\\nДоступные:\\n/status — статус контейнеров\\n/health или /ping — проверка\\n/backup — бэкап БД сейчас\\n/restart — рестарт n8n (нужно подтверждение)\\n\"caddy logs\" — логи Caddy", "additionalFields": {}}, "id": "d5ae3a99-3fdc-4732-bf04-1ff4d6234968", "name": "Telegram: Help", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 0], "webhookId": "af337f67-f616-4a18-8786-e8a2fa96c0e7", "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "39f4ce57-f9e7-4d62-8ef3-c37cb5233196", "leftValue": "={{$json.dangerous}}", "rightValue": "", "operator": {"type": "boolean", "operation": "false", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a0935b93-29d5-4673-ba84-6ce446ba4eb7", "name": "IF Dangerous", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [240, 192]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "1f0112c8-f78f-4eba-8f1c-05cd8b218bf0", "leftValue": "={{$json.confirmed}}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "036937db-4533-4dd4-bf29-49ca2bb61b73", "name": "IF Confirmed", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [480, 320]}, {"parameters": {"chatId": "={{$json.chatId}}", "text": "⚠️ Опасная команда: restart n8n\\n\\nПодтверди так:\\n/confirm RESTART_N8N", "additionalFields": {}}, "id": "21abcebd-3ab5-49d1-b76b-e4e0ca6026c3", "name": "Telegram: Need Confirm", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [480, 112], "webhookId": "4be7dcdc-9b86-4b08-b0ce-02c49c86e922", "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}}, {"parameters": {"authentication": "privateKey", "command": "=sudo /usr/local/sbin/iibot {{$json.action}}"}, "id": "54efdc69-471c-4a48-adea-e8f726d91886", "name": "SSH Execute", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [720, 224], "credentials": {"sshPrivateKey": {"id": "ibD9UOMY08GalRvM", "name": "SSH Private Key account"}}}, {"parameters": {"chatId": "={{$json.chatId}}", "text": "={{($json.stdout || $json.stderr || 'ok').toString().slice(0,3800)}}", "additionalFields": {}}, "id": "ddeaff4f-d2bd-4745-aff1-fb6d0959e662", "name": "Telegram: Result", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [960, 224], "webhookId": "d8c8b9df-31a8-4828-a2cb-af4ec6ed8265", "credentials": {"telegramApi": {"id": "NTt0aN3D7XmoUaIc", "name": "ИИ БОТ АГЕНТ НОУТБУК"}}}], "connections": {"Telegram Trigger": {"main": [[{"node": "Parse Command", "type": "main", "index": 0}]]}, "Parse Command": {"main": [[{"node": "IF Allowed", "type": "main", "index": 0}]]}, "IF Allowed": {"main": [[{"node": "IF Unknown", "type": "main", "index": 0}], [{"node": "Telegram: Deny", "type": "main", "index": 0}]]}, "IF Unknown": {"main": [[{"node": "Telegram: Help", "type": "main", "index": 0}], [{"node": "IF Dangerous", "type": "main", "index": 0}]]}, "IF Dangerous": {"main": [[{"node": "SSH Execute", "type": "main", "index": 0}], [{"node": "IF Confirmed", "type": "main", "index": 0}]]}, "IF Confirmed": {"main": [[{"node": "SSH Execute", "type": "main", "index": 0}], [{"node": "Telegram: Need Confirm", "type": "main", "index": 0}]]}, "SSH Execute": {"main": [[{"node": "Telegram: Result", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "availableInMCP": false, "callerPolicy": "workflowsFromSameOwner"}}